<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="BasePath" value="C:\Users\HP\Documents\Mis Proyectos\max-edi\810Files"/>
    <add key="EDIBasePath" value="C:\Users\HP\Documents\Mis Proyectos\max-edi\810Files"/>
    <add key="EDIDonePath" value="C:\Users\Luis\Downloads"/>
    <add key="ReceivedPOsRelativePath" value="ReceivedItems"/>
    <add key="LogRelativePath" value="logs"/>
    <add key="DoneRelativePath" value="ProyectoEDI_Done"/>
    <add key="OutputRelativePath" value="ProyectoEDI_Reports"/>
    <add key="FilterEDIs" value="810_*.txt"/>
    <add key="ExcelFindingsName" value="Findings"/>
    <add key="ExcelSheetName" value="Findings"/>
    <add key="LogBaseName" value="Log"/>
    <add key="EmailFrom" value="remotomax19@gmail.com"/>
    <add key="EmailsTo" value="lgalvez@dxlatam.com"/>
    <add key="EmailsTo2" value="lgalvez@dxlatam.com,jrgodoy@maxwarehouse.com,jbendayan@maxwarehouse.com,juan@maxwarehouse.com,alopez@dxlatam.com"/>
    <add key="EmailSubject" value="Reportes de Inconsistencias"/>
    <add key="EmailBodyFile" value="Buenos días,@@Adjunto se encuentra el reporte de inconsistencias."/>
    <add key="EmailBodyEmpty" value="Buenos días,@@No se encontraron inconsistencias con la data disponible."/>
    <add key="EmailBodyNoFilePO" value="Buenos días,@@No se encontraron Archivos Received para Comparar."/>
    <add key="EmailBodyNoFileEDI" value="Buenos días,@@No se encontraron Archivos EDI para Comparar."/>
    <add key="EmailBodyNoFilePOEDI" value="Buenos días,@@No se encontraron Archivos Received y EDI para Comparar."/>
    <add key="EmailBodyNoFilePOEDIWithData" value="Buenos días,@@No se encontraron Archivos Received y EDI para Comparar. Pero Existe Información Anterior de 5 Días"/>
    <add key="EmailPort" value="587"/>
    <add key="EmailHost" value="smtp.gmail.com"/>
    <add key="EmailCredentialUser" value="remotomax19@gmail.com"/>
    <add key="EmailCredentialPassword" value="Inicio456"/>
    <add key="ConectionString" value="Data Source=localhost\SQLEXPRESS;Initial Catalog=MaxWarehouse;Integrated Security=True;" />
    <add key="GeneratingReport" value="Y" />
    <add key="SendingEmail" value="Y" />
    <add key ="EDIzip" value ="810Files_"/>
    <add key ="FinMes" value ="N"/>
  </appSettings>
</configuration>